
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', cursive;
    background-image: url(../photos/portada.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}

/* styles encabezado */
header{
    width: 100%;
    height: 80px;
    background-color: black;
}

#titulo{
    color: white;
    font-size: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'Righteous', cursive;
}

/* styles TARJETA FORM */
.card{
    color: white;
    background-image: url(../photos/fondo2.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    font-family: 'Bangers', cursive;
}
.card input{
    margin-right: 10px;
    width: 250px;
    height: 30px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

.card h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Bangers', cursive;
    text-decoration: underline;
}

#btnForm{
    display: block;
    font-size: 25px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #FF00FF;
    border-radius: 10px;
    box-shadow: 0 0 20px #EE8DEE ;
    font-family: 'Bangers', cursive;
}

/* styles de datos  */
#datos{
    display: block;
    justify-content: center;
}
#datos li{
    padding: 10px;
    font-size: 20px;
    list-style:circle;
}

/* Styles boton play and reset GLOBALES */
.btnPlay{
    display: block;
    font-size: 25px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #FF00FF;
    border-radius: 10px;
    box-shadow: 0 0 20px #EE8DEE ;
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Bangers', cursive;
}

.resetear{
    display: block;
    font-size: 25px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #FF00FF;
    border-radius: 10px;
    box-shadow: 0 0 20px #EE8DEE ;
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'Bangers', cursive;
}

/* style footer */
footer{
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}
footer a {
    color: white;
    font-size: 30px;
}
